<ol reversed>
  {% for post in site.posts %}
  <li>
    <p><a href="{{ post.url | relative_url }}"><strong>{{ post.title }}</strong></a><br />
    {% if post.description %}
    {{ post.description }}<br />
    {% endif %}
    <time datetime="{{ post.date | date_to_xmlschema }}">
{% if include.language == "finnish" %}
{% assign m = post.date | date: "%-m" %}
{% case m %}
  {% when '1' %}Tammikuu
  {% when '2' %}Helmikuu
  {% when '3' %}Maaliskuu
  {% when '4' %}Huhtikuu
  {% when '5' %}Toukokuu
  {% when '6' %}Kesäkuu
  {% when '7' %}Heinäkuu
  {% when '8' %}Elokuu
  {% when '9' %}Syyskuu
  {% when '10' %}Lokakuu
  {% when '11' %}Marraskuu
  {% when '12' %}Joulukuu
{% endcase %}
{{ post.date | date: "%-d" }},
{{ post.date | date: "%Y" }}
{% else %}
  {{ post.date | date: "%B %e, %Y" }}
{% endif %}
    </time></p>
  </li>
  {% endfor %}
</ol>