{% if include.category %}
{% for category in site.categories %}
{% if category[0] == include.category %}
  {% assign posts = category[1] %}
  {% break %}
{% endif %}
{% endfor %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
<ol reversed id="items">
  {% for post in posts %}
  <li>
    <p><a href="{{ post.url | relative_url }}"><strong>{{ post.title }}</strong></a><br />
    {% if post.description %}
    {{ post.description }}<br />
    {% endif %}
    {% include date.html date=post.date language=include.language %}
  </p>
  </li>
  {% endfor %}
</ol>