{%- if include.n >= 0 and include.n <= 3 -%}
  {%- assign n = include.n -%}
{%- else -%}
  {%- assign n = 3 -%}
{%- endif -%}

{%- assign count = 0 -%}
{%- for paper in site.data.papers -%}
  {%- assign journal = paper[1].journal -%}
  {%- assign jufo = site.data.journals[journal].jufo | plus: 0 -%}
  {%- if jufo >= n -%}
    {%- assign count = count | plus: 1 -%}
  {%- endif -%}
{%- endfor -%}

{{- count -}}


{% comment %}
---

{% assign countjournals = "" %}{% for journal in site.data.journals %}

{% assign paperdata = paper[1] %}{% if paperdata.collaborators contains journal[0] %}{% assign count = count | plus: 1 %}{% endif %}{% endfor %}{% if count >= n %}{% assign countjournals = countjournals | append: journal[0] | append: " " %}{% endif %}{% endfor %}{% assign countjournals = countjournals | split: " " | compact %}{% if include.output == "number" %}{{ countjournals.size }}{% elsif include.output == "names" %}{% else %}Error: output type not known.{% endif %}


---

{% include count-journals.html n=3 output="number" %}

---
{% endcomment %}

