---
---

@import index, font, basic, layout, classes

html
  background: lighten($dark, 70%)
  padding: 0 calc(38% - 22em)

body
  box-shadow: 0 0 .3em lighten($dark, 65%)

body > header, body > footer
  background: lighten($dark, 5%)
  color: $light

nav a
  margin: .25em
  padding: .8em .8em

nav a.selected
  background: lighten($dark, 5%)

nav a:hover, nav a.selected:hover
  background: lighten($dark, 15%)
  text-decoration: inherit

.icon
  margin-right: .5em
  color: inherit!important

.katex
  font-size: 1.1em !important

#search-input
  width: 100%
  background: $light
  color: lighten($dark, 10%)
  font-family: $font-family
  font-weight: $font-weight
  font-size: $font-size
  line-height: $line-height
  margin: 0
  padding: 1px
  border: 0.1em solid lighten($dark, 40%)
  border-radius: 0.2em
  @media (prefers-color-scheme: dark)
    color-scheme: dark
    background-color: $dark
    color: darken($light, 5%)!important
    border: 0.1em solid darken($lightgreen,20%)!important

#search-input:focus
  outline: none
  border: 0.1em solid lighten($dark, 25%)

*,*:before,*:after
  box-sizing: border-box

.checkbox-label
  color: $green
  cursor: pointer
  @media (prefers-color-scheme: dark)
    color-scheme: dark
    background-color: $dark
    color: $lightgreen!important
  @media (scripting: none)
    cursor: default
    color: $dark!important
    @media (prefers-color-scheme: dark)
      color: $light!important

.checkbox-label--disabled
  color: var(--checkbox-label-disabled)
  cursor: not-allowed

input[type="checkbox"]
  -webkit-appearance: none
  appearance: none
  background-color: $light
  color: $green
  margin: 0
  font: inherit
  width: 0.97em
  height: 0.97em
  border: 0.1em solid $green
  border-radius: 0.2em
  transform: translateY(-0.05em)
  display: inline-grid
  place-content: center
  @media (prefers-color-scheme: dark)
    color-scheme: dark
    background-color: $dark
    color: $lightgreen!important
    border: 0.1em solid $lightgreen!important

input[type="checkbox"]::before
  content: ""
  width: 0.65em
  height: 0.65em
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
  transform: scale(0)
  transform-origin: bottom left
  transition: 120ms transform ease-in-out
  box-shadow: inset 1em 1em var(--checkbox-label-color)
  background-color: $green
  @media (prefers-color-scheme: dark)
    color-scheme: dark

input[type="checkbox"]:checked::before
  transform: scale(1)
  @media (prefers-color-scheme: dark)
    color-scheme: dark
    background-color: $lightgreen!important
    color: $lightgreen!important

input[type="checkbox"]:disabled
  --checkbox-label-color: var(--checkbox-label-disabled)
  color: var(--checkbox-label-disabled)
  cursor: not-allowed

@media (min-width: 32em)
  body > header, body > article, body > footer
    padding: 1.75em calc(22% - 6em)

@media (prefers-color-scheme: dark)
  html
    background: darken($dark, 4%)
  body > header, body > footer
    background: lighten($dark, 5%)
  body, body > header, body > footer
    box-shadow: 0 0 0 1px lighten($dark, 20%)
